.course-container {
  padding: 30px;
}

.course-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.course-card {
  padding: 20px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.enroll-btn {
  padding: 10px 15px;
  width: 100%;
  border: none;
  background: #4b7bec;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.enroll-btn:hover {
  background: #3867d6;
}
